
body{
    margin: 0;
    padding: 0;
    color: #141414;
    font-family: 'Source Sans Pro', sans-serif;   
}
*,::before,::after{
    box-sizing: border-box;
}

/*Authentication page*/
header .logo{
    padding:1em 0.5em;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}
header .logo h1{
    font-size: 0.9rem;
    align-self: center;
}
header .logo .logo-img{
    font-family: 'Roboto';
    width: 300px;
    height: 50px;
    align-self: center;
}
header{
    width: 100%;
    display: flex;
    margin: auto;
    background-color:  #141414;
    color: white;
    
}


section{
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 10em;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;

}
section form input{
    padding: 0.5em 1em;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    margin: 0.5em auto;
    
}
section form input[type="submit"]{
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}
section form input[type="submit"]:hover,section form input[type="submit"]:active{
    background-color: chartreuse;
    color: white;

}
section h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
}



