<section class="login-section">
    <h1>Admin Log in </h1>
    <form action="/admin" method="POST">
        <input type="text" required name="username" placeholder="Username" id="username">
        <input type="password" required name="password" placeholder="Password" id="password">
        <input type="submit" name="submitBtn" id="submitBtn" value="Submit">
    </form>
</section>