
body{
    margin: 0;
    position: relative;
    min-height: 100vh;
    padding: 0;
    color: #141414;
    font-family: 'Source Sans Pro', sans-serif;   
}
*,::before,::after{
    box-sizing: border-box;
}




section{
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 10em;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;

}
section form input{
    padding: 0.5em 1em;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    margin: 0.5em auto;
    
}
section form input[type="submit"]{
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}
section form input[type="submit"]:hover,section form input[type="submit"]:active{
    background-color: #9fa0ea;
    color: white;

}
section h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
}
#footer{
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}




