body{
    margin:0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;                                               
}
/*remove scroll bars */
html::-webkit-scrollbar {
    display: none;
}
  
html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html{
    user-select: none;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}


#navbar{
    position: relative;
    align-self: center;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
#navbar a{
    padding: 0.5em;
    text-transform: uppercase;
    font-size: 0.75rem;
    text-decoration: none;
    font-weight: bold;
    width: max-content;
    margin: 0 1em;
    position: relative;
    
    cursor: pointer;
    
}
a i{
    width: 30px;
}
#navbar a:hover::after{
    width: 0%;
}

/*Style for the dashboard */
.container-admin{
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
}
.nav-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;

}
.nav-dashboard .isVisible{
    display: none;

}
.nav-dashboard a{
    border-radius: 5%;
    border: #000 solid 2px ;
    padding: 0.5em 0.3em;
    margin-bottom: 3em;
    
}
.nav-dashboard a:hover,.nav-dashboard a:active{
    background-color: #9fa0ea;
    
}
.dashboard-img,.add-blog{
   display: flex;
   margin: auto ;
}
.add-blog{
    text-align: center;
    width: 100%;
    max-width:500px;
    align-self: baseline;
}
.nav-dashboard ,.add-blog, .update-blog{
    display: none;
}
.add-blog form textarea{

    resize: none;
    max-width: 400px;
    width: 100%;
    margin: auto;
    height: 150px;
    border-radius: 5px;
    
    padding: 1em;
}
.add-blog form *{
    border: #000 solid 2px;

}
.add-blog form *::placeholder{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.add-blog h1{
    margin-top: 0;
}


@media (min-width:750px){
    .container-admin{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .nav-dashboard{
        color: #000;
        padding-left: 1em;
        flex: 0 0 max-content;
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .dashboard-img{
        flex: 1;
    }
    
    .nav-dashboard a{
        border-radius: 5%;
        width: max-content;
    }
    .visible{
        flex: 2;
        justify-self: center;
    }
}
@media (min-width:900px){
    .nav-dashboard .isVisible{
        display: inline;
        color: #000;
    }
    .nav-dashboard a{
        width: 100%;

    }
    
    
}


