<section class="single-blog">
    <div>
        <p class="date"><%= data.createdAt.toDateString() %></p>
        <h1 class="title"><%= data.title %></h1>
        <p class="description"><%= data.description %></p>
        <img src="/images/blog.jpeg"  class="image-blog" alt="image of blog 2">
        <article>
            <%= data.content %>
        </article>
        
    </div>
</section>

