<section class="single-blog">
    <div>
        <p class="date"><%= data.createdAt.toDateString() %></p>
        <h1 class="title"><%= data.title %></h1>
        <p class="description"><%= data.description %></p>
        <img src="/images/blog.jpeg"  class="image-blog" alt="image of blog 2">
        <article>
            <% const regexPattern = /([^\n]+)/g %>
            
            <% const arrayOfStrings = (data.content).match(regexPattern)%>
            <% console.log(arrayOfStrings)%>
            <% arrayOfStrings.forEach(element => { %>
                <p><%= element%></p>
            <% }) %>
            
        </article>
        
    </div>
</section>

